doctype html
html
  head
    if meta.charset
      meta(charset=meta.charset)
    if meta.description
      meta(name="description", content=meta.description)
    if title
      title= title
    if css
      link(rel="stylesheet", href=css)
    if js
      script(src=js)
  body
